import React from 'react';
import { connect } from 'react-redux';
import { compose } from 'redux';
import Router from 'next/router';
import makeSelect{{properCase name}} from './selectors';
import {{ camelCase name }}Reducer from './reducer';
import saga from './saga';
import Config from '~/config';
import { urls } from '~/utils';
import withI18next from '~/../hocs/_withI18next';
import styled from './{{properCase name}}.style';

@withI18next()
class {{ properCase name }} extends React.Component {
render() {
return (
<div>
  <style jsx>
    {
      styled
    }
  </style>
</div>
)
}
}

const mapStateToProps = createStructuredSelector({
{{ camelCase name }}: makeSelect{{properCase name}}(),
});

function mapDispatchToProps(dispatch) {
return {
dispatch,
};
}

const withConnect = connect(mapStateToProps, mapDispatchToProps);

export default connect(
withConnect,
)({{ properCase name }});
